/*
#E9AB17 Bee Yellow
#87AFC7 Colombia Blue
#95B9C7 Baby Blue
*/

/*-----Header Fonts------*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:700); /*font-family: 'Playfair Display SC', serif;*/
@import url(https://fonts.googleapis.com/css?family=Bangers); /*font-family: 'Bangers', cursive;*/
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker); /*font-family: 'Permanent Marker', cursive;*/
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great); /*font-family: 'Fredericka the Great', cursive;*/
/*-----Body Fonts------*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display); /*font-family: 'Playfair Display', serif;*/
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic); /*font-family: 'Gentium Basic', serif;*/
@import url(https://fonts.googleapis.com/css?family=Nixie+One); /*font-family: 'Nixie One', cursive;*/

/*---General Body Stylings---*/
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
h1 {
  font-family: 'Playfair Display SC', serif;
}
h2, p {
  font-family: 'Playfair Display', serif;
}

strong {
  color: white;
  font-size: 1.5em;
}

.content {
    text-align: center;
    padding-bottom: 1em;
}
.content p {
  margin: 0px;
  padding-bottom: .25em;
}
.content h1 {
   font-size: 3em;
   margin: 0px;
   padding-top: .25em;
}

.content h2 {
  font: 1.5em;
  font-style: italic;
  color: lightgray;
  margin-top: 0px;
}

.blue {
  background-color: #87AFC7;
  color: white;
}

.white {
  background-color: white;
}

.yellow {
  background-color: #E9AB17;
  color:white;
}
.gray {
  background-color: lightgray;
  color:black;
}

/*-----Main Image Div-----*/
#heroimage {
  background-image: url("./images/falcon2-free.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 30% 30%;
  height: 600px;
  color:white;
  text-align: center;
}
#heroimage h1 {
  margin:0px;
  font-size: 5em;
  padding-top: 30%;
}

#heroimage h2 {
  width: 80%;
  margin: 0 10%;
}

#heroimage p {
  font-size: 1em;
}

/*-----Live Stream Div-----*/
#livestream {
  padding: 3% 0;
  background-color: black;
  color: white;
}

#liveViewersLine strong{
  display: block;
  font-size: 2em;
}
/*-----Falcon Facts Div-----*/
#facts {
  width:100%;
  height: 400px;
  background: white url('./images/falcon2-free.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}
#speed {
  background: linear-gradient(rgba(233, 171, 23, .5),rgba(233, 171, 23, 1)), url("./images/falcononinair.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 30%;
  height: 200px;
  color:white;
  text-align: center;
  color: black;
}
#speed p {
  font-size: 2em;
}
#eye {
  background: linear-gradient(rgba(0,0,0, .5),rgba(0,0,0, 1)), url("./images/membrane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 30%;
  height: 200px;
  color:white;
  text-align: center;
  color: white;
}
#eye p {
  font-size: 2em;
}


/*-----WingSpan Div-----*/
#wingSpan{
  width:100%;
  height: 600px;
  background:url('./images/FalWingSpan.png') no-repeat center;
  background-size: contain;
  color: #E9AB17;
}

/*-----Falcons v. Hawks Div-----*/
.falVHaw {
  width: 20%;
  height: 20%;
}
#venn {
  width: 50%;
  height: 50%;
}



/*-----Media Queries-----*/

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 900px) {

  #heroimage {
    background-size: cover;
    background-attachment: scroll;
    height: 700px;
  }

  #heroimage h1 {
    margin:0px;
    font-size: 5em;
    padding-top: 50%;
  }

  #heroimage h2 {
    font-size: 0.8em;
  }

  #speed p {
    font-size: 1.5em;
  }

  #eye {
    height: 225px;
  }

  #eye p {
    font-size: 1.5em;
  }

}

@media only screen and (max-width: 600px) {

  #heroimage {
    background-size: cover;
  }

  #heroimage h1 {
    font-size: 2em;
    padding-top: 60%;
  }



  #speed p {
    font-size: 1.2em;
  }

  #wingSpan {
    height: 400px;
    background-position: 0 10em;
  }

  #eye {
    height: 225px;
  }

  #eye p {
    font-size: 1.2em;
  }

  #versus h1 {
    font-size: 1.5em;
  }

  #versus p {
    width: 90%;
    margin: 0 5%;
  }
}

@media only screen and (max-width: 400px) {

    #heroimage {
      background-size: cover;
    }

    #heroimage h1 {
      font-size: 3em;
      padding-top: 60%;
    }

    #heroimage h2 {
      font-size: 1em;
    }

    iframe {
      height: 400px;
    }
}
